/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
  /* LAYOUT
  /*******************************************/
body {
  background-color: #202124;
  font-family: "Darker Grotesque", sans-serif;
  color: #e8eaed;
  line-height: 1.25em;
  font-size: 1.5em;
}

#wrap {
  padding: 0px 20px 0px 20px;
  max-width: 1920px;
  margin: 0 auto;
}

p {
  padding: 0px 30px;
  margin: 10px 0;
}

h1 {
  font-family: "Encode Sans SC", sans-serif;
  text-align: center;
  font-size: 2.75em;
  line-height: 1em;
  margin: 0.5em;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
}

img {
  display: block;
  max-height: 400px;
}

/* Styling for options / stats section */
.mapheader {
  display: flex;
  background-color: #383b40;
  line-height: 1em;
  border: black solid 3px;
  border-radius: 20px;
  border-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.options,
.stats {
  display: inline-flex;
  flex-direction: row;
  font-weight: bold;
}
.options {
  width: 65%;
  justify-content: flex-start;
  gap: 30px;
}

.stats {
  width: 35%;
  text-align: center;
  justify-content: flex-end;
  column-gap: 30px;
}

#total,
#filtered,
#shown {
  display: block;
  color: #f4ff6f;
}

/* map header contents styling */

#version {
  color: grey;
  font-size: 0.6em;
  padding: 0 16px 0 0;
  margin: 0;
  display: block;
  text-align: end;
}

.filters,
.dropdown {
  user-select: none;
}

.filters.all label {
  left: 14px;
}
.filters.live label {
  right: 4px;
}
.filters.hd label {
  right: 9px;
}

.filters.all {
  padding: 0 0 0 10px;
  flex-shrink: 0;
  background-color: #202225;
  border-top-left-radius: 18px;
}

.dropdown {
  margin-bottom: 4px;
}

.stats {
  user-select: none;
}

/* help box styling */
#helpbox {
  min-width: 50px;
  cursor: pointer;
  border-top-right-radius: 18px;

  font-size: 1.25em;
  transition: all 0.25s;
  background-color: #202225;
  color: #e8eaed;
}

#helpbox:hover {
  transition: all 0.25s;
  font-size: 2em;
  background-color: #848a96;
  color: #ffff8d;
}

#help {
  padding: 0;
  margin: 0;
  position: relative;
  top: 9px;
}

/* 
Map info window, links, text styling
 */

.watch {
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 6px 12px;
  margin-top: 5px;
  width: fit-content;
  background-color: #d9d9d9;
  border-radius: 5px;
  transition: all 0.25s;
}

.watch a {
  color: blue;
  font-weight: normal;
  font-size: 1em;
  transition: all 0.25s;
}
.watch a:hover {
  color: darkgreen;
  font-weight: bold;
  font-size: 1.15em;
  transition: all 0.25s;
}

#map {
  color: black;
  border: black solid 3px;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 69%;
  width: 100%;
}

iframe {
  border: none;
}

#camtext {
  width: fit-content;
  height: fit-content;
}

#camtext h3 {
  text-align: center;
  margin: 0 0 5px 0;
}

#camtext ul {
  margin: 5px 0 0 0;
}

#camtext #thumb {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

h4 {
  text-align: center;
  margin: 4px 0px;
  font-size: 1.1em;
  font-weight: normal;
}

.bubbles {
  position: relative;
  padding: auto 0 !important;
  font-size: 1.1em !important;
  font-weight: bold;
  overflow-y: none !important;
  color: white !important;
  font-family: "Roboto Condensed", Arial, sans-serif !important;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 14px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

/******************************************
REFRESHING CAMS ANIMATION
  /*******************************************/

#loader {
  display: block;
  position: absolute;
  z-index: 7;
  left: 50%;
  top: 50px;
  width: 100px;
  height: 100px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #e74c3c;

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #f9c922;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

/* styling for dropdown box */

.dropdown {
  width: 40%;
  z-index: 5;
  position: relative;
  bottom: 1px;
  font-size: 0.75em;
}
.dropdown .dropdown-list {
  color: #333;
  padding: 12px;
  background: #fff;
  position: absolute;
  top: 59px;
  left: 2px;
  right: 2px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
  transform-origin: 50% 0;
  transform: scale(1, 0);
  transition: transform 0.15s ease-in-out 0.15s;
  max-height: 50vh;
  overflow-y: scroll;
}
.dropdown .dropdown-option {
  display: block;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}
.dropdown .dropdown-label {
  display: block;
  height: 27px;
  background: #fff;
  color: #333;

  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px 12px;
  line-height: 1;
  cursor: pointer;
}
.dropdown .dropdown-label:before {
  content: " \25BC";
  float: right;
}
.dropdown.on .dropdown-list {
  transform: scale(1, 1);
  transition-delay: 0s;
}
.dropdown.on .dropdown-list .dropdown-option {
  opacity: 1;
  transition-delay: 0.2s;
}
.dropdown.on .dropdown-label:before {
  content: " \25B2";
}
.dropdown [type="checkbox"] {
  position: relative;
  top: -1px;
  margin-right: 4px;
}

/* styling for toggle switches */
.filters input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.filters label {
  margin-top: 3px;
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.filters label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 20px;
  height: 16px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.filters input:checked + label {
  background: #5cb85c;
}

.filters input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.filters label:active:after {
  width: 30px;
}

#disclaimer {
  display: flex;
  font-size: 0.75em;
  justify-content: space-between;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(32, 33, 36);
  background-color: rgba(32, 33, 36, 0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(32, 33, 36, 0.4);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#welcomeModal .modal-body {
  padding: 30px 40px 40px 40px;
  font-size: 0.9em;
  line-height: 1em;
}

.modal-body [type="checkbox"] {
  position: relative;
  bottom: 2px;
  width: 15px;
  height: 15px;
}

#camModal #mobileplay {
  display: none;
}

#onlyonce {
  font-size: 1.25em;
}

#dontshowbox {
  display: inline-block;
  background-color: rgba(64, 66, 73, 0.5);
  border-radius: 7px;
  padding: 8px 15px 12px 11px;
  margin: 25px 0px 0px 3px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  position: relative;
  float: right;
  top: 5px;
  font-size: 80px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#cc {
  display: block;
  text-align: end;
  line-height: 3em;
  font-size: 0.9em;
}

/* mobile tweaks */

@media only screen and (max-width: 1000px) {
  body {
    font-size: 1.1em;
    margin: 0;
  }
  #wrap {
    padding: 0;
  }

  h1 {
    margin: 25px;
    font-size: 1.6em;
  }
  p {
    font-size: 0.9em;
    line-height: 1.2em;
  }

  #disclaimer {
    line-height: 0.9em;
    font-size: 0.8em;
    margin: 0px 10px;
    gap: 60px;
  }

  #cc {
    font-size: 0.7em;
    text-align: center;
  }

  #welcomeModal .modal-content {
    width: 85%;
  }

  #welcomeModal .modal-body {
    padding: 20px 15px 20px 15px;
    font-size: 1em;
    line-height: 1.1em;
  }

  .filters.all label {
    left: 3px;
  }

  .filters.all span {
    padding-left: 3px;
  }

  .filters.live span {
    padding-left: 8px;
  }
  .filters.hd span {
    padding-left: 5px;
  }

  .options,
  .stats {
    justify-content: center;
    width: 100%;
    display: flex;
    font-weight: bold;
  }

  .stats {
    padding-top: 3px;
    padding-bottom: 5px;
  }

  .filters.all,
  .filters.live,
  .filters.hd {
    margin: 0;
  }

  .options {
    gap: 20px;
  }

  .dropdown {
    top: 2x;
  }
  .dropdown .dropdown-list {
    top: 43px;
  }

  .dropdown .dropdown-label {
    height: 25px;
  }
  #helpbox {
    position: absolute;
    right: 3px;
    height: 40px;
    border-top-right-radius: 0px;
  }

  .options label {
    bottom: 2px;
  }

  .mapheader {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 700px) {
  #camModal .modal-body {
    padding: 0px;
  }

  #camModal .modal-content {
    width: 90%;
  }

  #camModal #mobileplay {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
